<figure><a href="file:///android_asset/alumni-images/ahmad-fuadi-hi-fisip-unpad.jpg"><img
            src="file:///android_asset/alumni-images/ahmad-fuadi-hi-fisip-unpad.jpg" alt="" width="300"
            height="240" /></a>
    <p>Ahmad Fuadi</p>
</figure>
<figure><a href="file:///android_asset/alumni-images/Dany-java-jive-hi-fisip-unpad.jpg"><img
            src="file:///android_asset/alumni-images/Dany-java-jive-hi-fisip-unpad.jpg" alt="" width="300"
            height="240" /></a>
    <p>Dany Java Jive</p>
</figure>
<figure><a href="file:///android_asset/alumni-images/ernest-prakasa-hi-fisip-unpad.jpg"><img
            src="file:///android_asset/alumni-images/ernest-prakasa-hi-fisip-unpad.jpg" alt="" width="300"
            height="240" /></a>
    <p>Ernest Prakasa</p>
</figure>
<figure><a href="file:///android_asset/alumni-images/fery-mursyidan-baldan-hi-fisip-unpad.jpg"><img
            src="file:///android_asset/alumni-images/fery-mursyidan-baldan-hi-fisip-unpad.jpg" alt="" width="300" /></a>
    <p>Ferry Mursyidan Baldan</p>
</figure>
<figure><a href="file:///android_asset/alumni-images/philips-vermonte-hi-fisip-unpad.jpg"><img
            src="file:///android_asset/alumni-images/philips-vermonte-hi-fisip-unpad.jpg" alt="" width="300" /></a>
    <p>Philips Vermonte</p>
</figure>
<figure><a href="file:///android_asset/alumni-images/utut-adianto-hi-fisip-unpad.jpg"><img
            src="file:///android_asset/alumni-images/utut-adianto-hi-fisip-unpad.jpg" alt="" width="300"
            height="240" /></a>
    <p>Utut Adianto</p>
</figure>
<figure><a href="file:///android_asset/alumni-images/yovi-widianto-hi-fisip-unpad.jpg"><img
            src="file:///android_asset/alumni-images/yovi-widianto-hi-fisip-unpad.jpg" alt="" width="300"
            height="240" /></a>
    <p>Yovi Widianto</p>
</figure>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    p {
        text-align: center;
    }
</style>