<p><strong>Akreditasi:</strong> A<br /><strong>E-mail:</strong> hi@unpad.ac.id<br /><strong>Fakultas:</strong> Ilmu
    Sosial dan Ilmu Politik<br /><strong>Website:</strong><a href="http://hi.fisip.unpad.ac.id"> hi.fisip.unpad.ac.id</a>
</p>
<style>
    p {
        text-align: justify;
    }
</style>