<p><strong>KOMPETENSI LULUSAN</strong></p>
<p>Para lulusan Program Studi Hubungan Internasional Fakultas Ilmu Sosial dan Ilmu Politik memiliki kompetensi sebagai
    berikut:&nbsp;</p>
<ol>
    <li>Menguasai kerangka filosofi, teori dan konsep, serta metodologi Hubungan Internasional pada tataran/satuan
        analisis negara dan subnegara serta nonnegara agar mampu berperan selaku Analis atau Aktivis ataupun Aktor
        Hubungan Internasional dalam acuan generalis untuk menghadapi berbagai dinamika hubungan internasional;</li>
    <li>Menguasai proses tumbuh-kembang bidang kaji Hubungan Internasional dengan rivalitas paradigmatik dan debat
        metodologisnya, berikut tahap internasional, transnasional, serta global, agar mampu berkontribusi untuk
        memajukan taraf relevansi diantara bidang kaji dan kebijakan serta tindakan dalam merespons masalah hubungan
        internasional;</li>
    <li>Menguasai isu-isu hubungan internasional menurut perspektif&nbsp;<em>western</em>dan&nbsp;<em>nonwestern</em>,
        khususnya di Asia Pasifik, ASEAN, serta Nusantara, agar mampu membantu pengayaan dan penguatan potensi- potensi
        Glokal atau Global di Indonesia;</li>
    <li>Mampu menyusun penalaran filsafati, teoretik dan konseptual, serta metodologis, sebagai argumentasi generalis
        untuk menghadapi persoalan hubungan internasional dengan upaya ke arah pemecahannya;</li>
    <li>Mampu menunjukkan tatanan-tatanan manajerial, organisasional, serta tata kelola, sebagai peluang generalis untuk
        menangani permasalahan hubungan internasional dengan upaya ke arah pemecahannya;</li>
    <li>Mampu mengenali dan merumuskan serta menyaji tindak nyata dalam menempuh urusan-urusan luar negeri dan global,
        sebagai pijakan pengambilan keputusan atau pembuatan kebijakan negara atau subnegara ataupun nonnegara, dengan
        berbasis nilai, norma, etika, kearifan lokal dan rezim internasional;</li>
    <li>Mampu mengerjakan riset generalis hubungan internasional dan ikut berkontribusi bagi khasanah riset kualitatif
        dan kuantitatif, lapangan, kepustakaan, atau internet, berikut pelaporannya serta publikasi karya-karya ilmiah;
    </li>
    <li>Mampu membangun komunikasi dan interrelasi secara produktif serta membentuk konsensus dan memelihara kebersamaan
        baik nasional maupun internasional untuk menangani keberagaman identitas;</li>
    <li>Mampu memberi dukungan dan atau pendampingan bagi orang-orang, komunitas, masyarakat sipil, berikut
        keorganisasiannya dalam menjalani berbagai isu ataupun sirkulasi interlokal dan intermestik serta internasional;
    </li>
    <li>Mampu memanfaatkan teknologi informasi dan komunikasi dalam berbagai kiprah mempelajari isu-isu serta melakukan
        ikhtiar menghadapi dan menangani persoalan hubungan internasional ke arah penyelesaiannya.</li>
</ol>
<style>
    p,
    li {
        text-align: justify;
    }
</style>