<p>Kaprodi HI mendapatkan anugrah sebagai Kaprodi Berprestasi dari Rektor Unpad pada tangal 27 Agustus 2018;</p>
<p><a href="file:///android_asset/prestasi-prodi-images/prestasi-prodi-1.png"><img
            src="file:///android_asset/prestasi-prodi-images/prestasi-prodi-1.png" /></a></p>
<p>Prodi HI mendapatkan anugrah sebagai Prodi Terbaik ke III di lingkungan Unpad oleh Rektor Unpad pada tanggal 2 Mei
    2019;</p>
<p><a href="file:///android_asset/prestasi-prodi-images/prestasi-prodi-2.png"><img
            src="file:///android_asset/prestasi-prodi-images/prestasi-prodi-2.png" /></a></p>

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    p {
        text-align: justify;
    }
</style>