<p>Selamat datang di Program Studi Hubungan Internasional. Sebagai suatu lembaga pendidikan yang sudah memiliki reputasi di tingkat nasional, regional dan Internasional, adalah suatu kehormatan dan kebanggaan bagi Kami dapat mendampingi dan menyertai anda semua dalam memperoleh dan berbagi pengetahuan dan informasi mengenai Hubungan internasional baik dalam tataran akademik maupun praktis. Dalam laman ini, kami sajikan berbagai informasi penting yang akan menunjang anda meraih keberhasilan.</p>
<p>Saat ini studi Hubungan Internasional tidak saja mempelajari tentang bagaimana hubungan antar negara-negara terjalin, tetapi juga mempelajari tentang hubungan antar aktor-aktor nonnegara yang bersifat lintas negara, seperti organisasi internasional, individu dan perusahaan multinasional. Mahasiswa Hubungan Internasional Fakultas Ilmu Sosial dan Ilmu Politik (FISIP) Unpad mempelajari berbagai aspek internasional dari interaksi diantara para aktor tersebut. Termasuk di dalamnya aspek ekonomi, hukum, sosial-budaya hingga pertahanan dan keamanan.</p>
<p>Gelar yang diberikan kepada sarjana Hubungan Internasional FISIP Unpad adalah Sarjana Ilmu Politik (S.IP).</p>
<style>
    p {
        text-align: justify;
    }
</style>