<p><strong>PROFIL LULUSAN</strong></p>
<p>Program Studi Hubungan Internasional Fakultas Ilmu Sosial dan Ilmu Politik (FISIP) Unpad mencetak para lulusan
    menjadi :</p>
<ol>
    <li><strong>DIPLOMAT</strong> yang mampu membantu representasi aktor-aktor negara/subnegara dan nonnegara pada
        lingkup kediplomasian melalui
        <em>promoting</em>, <em>negotiating</em> (mediasi), <em>protecting</em> (advokasi), serta <em>reporting</em>
        (notulensi) dalam hubungan internasional generalis;
    </li>
    <li><strong>PENELITI</strong> yang mampu menghimpun, mengolah dan menyaji data hasil riset mengenai isu-isu dan
        fenomen dalam hubungan internasional generalis;</li>
    <li><strong>KONSULTAN</strong> yang mampu memfasilitasi proses pembuatan kebijakan dan pengambilan keputusan
        mengenai isu-isu dan fenomen dalam hubungan internasional generalis;</li>
    <li><strong>PELAKSANA</strong> yang mampu mengolah aplikasi teori, konsep, model, metodologi dan perangkat, untuk
        menghadapi isu-isu dan fenomen dalam hubungan internasional generalis;</li>
    <li><strong>AKTIVIS KEMASYARAKATAN</strong> yang mampu membantu pemberdayaan sosietal dan kultural dengan
        partisipasi pada berbagai isu dan fenomen dalam hubungan internasional generalis</li>
</ol>

<style>
    p,
    li {
        text-align: justify;
    }
</style>