<p><strong>PROSPEK KERJA</strong></p>
<ul>
    <li>Lulusan Prodi HI berpeluang untuk bekerja sebagai <strong>DIPLOMAT</strong>, menjadi duta negara di perwakilan
        negara Republik Indonesia di luar negeri, seperti di Kedutaan Besar, Perwakilan Tetap, Konsulat
        Jenderal/Konsulat.</li>
</ul>
<ul>
    <li>Lulusan Prodi HI berpeluang untuk bekerja sebagai <strong>PENELITI</strong> pada lembaga-lembaga riset nasional
        maupun internasional seperti di Lembaga Ilmu Pengetahuan Indonesia (LIPI), The Habibie Center, Center for
        Strategic and International Studies (CSIS), Karim Raslan Associates, Foreign Policy Community Indonesia (FPCI),
        dan lain-lain.</li>
</ul>
<ul>
    <li>Lulusan Prodi HI berpeluang untuk bekerja sebagai <strong>KONSULTAN</strong> hubungan internasional pada
        lembaga-lembaga internasional seperti: UNESCO, UNICEF, WHO, UNDP, World Bank dan lain-lain.&nbsp;</li>
</ul>
<ul>
    <li>Lulusan Prodi HI berpeluang untuk bekerja sebagai <strong>PELAKSANA (STAF)</strong> di sektor publik sebagai
        <strong>International Civil Servant</strong> pada lembaga-lembaga internasional seperti PBB, WTO, OKI, ASEAN;
        atau sebagai <strong>Aparatur Sipil Negara</strong> baik di tingkat Pusat (Kementerian, Lembaga Negara) maupun
        di tingkat Daerah (Provinsi, Kota/Kabupaten) yang bekerja di bidang hubungan luar negeri; atau di sektor privat
        sebagai Ekspatriat pada perusahaan-perusahaan multinasional seperti UNILEVER, British Petroleum, Total, PT.
        Freeport dan lain-lain.</li>
</ul>
<ul>
    <li>Lulusan Prodi HI berpeluang untuk bekerja sebagai <strong>AKTIVIS KEMASYARAKATAN (LSM)</strong> pada
        lembaga-lembaga swadaya masyarakat internasional seperti Oxfam, Greenpeace, WWF, dan lain-lain.</li>
</ul>
<style>
    p,
    li {
        text-align: justify;
    }
</style>