<p><strong>DOSEN PROGRAM SARJANA HUBUNGAN INTERNASIONAL</strong></p>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-arry-bainus-m-a/"> <img title="Arry Bainus" src="file:///android_asset/staf-pengajar-images/Arry-Bainus.jpg" alt="Arry Bainus" src="file:///android_asset/staf-pengajar-images/Arry-Bainus.jpg" data-was-processed="true" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-arry-bainus-m-a/" target="_blank">Prof. Dr. Arry Bainus, M.A.,</a></h6>
Kepakaran :
<ul><li>Studi Keamanan, Hubungan Internasional, Ilmu Politik, Demokrasi, Globalisasi</li></ul>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-r-widya-setiabudi-s-t-s-ip-m-t-m-sihan/"> <img title="Widya Setiabudi Sumadinata" src="file:///android_asset/staf-pengajar-images/Widya-Setiabudi-Sumadinata.jpg" alt="Widya Setiabudi Sumadinata" src="file:///android_asset/staf-pengajar-images/Widya-Setiabudi-Sumadinata.jpg" data-was-processed="true" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-r-widya-setiabudi-s-t-s-ip-m-t-m-sihan/" target="_blank">Dr. R. Widya Setiabudi, S.T., S.IP., M.T., M.Si(Han)</a></h6>
Kepakaran :
<ul>
<li>ASEAN Studies</li>
<li>Complexity Studies (Agent Based Modelling;System Dynamics;Social Network)</li>
<li>Formal Modelling dalam Studi Ilmu Politik dan Hubungan Internasional (Game Theory)</li>
<li>Governance Studies</li>
<li>Para Diplomacy</li>
<li>Perilaku Pemilih dan Studi Tentang Pemilu</li>
<li>Studi Keamanan (Security Studies); Defense Studies (Studi Pertahanan)</li>
</ul>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/prof-drs-yanyan-m-yani-ma-ir-ph-d/"> <img title="Yanyan Mochamad Yanif fisip" src="file:///android_asset/staf-pengajar-images/Yanyan-Mochamad-Yanif-fisip.png" alt="Yanyan Mochamad Yanif fisip" src="file:///android_asset/staf-pengajar-images/Yanyan-Mochamad-Yanif-fisip.png" data-was-processed="true" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/prof-drs-yanyan-m-yani-ma-ir-ph-d/" target="_blank">Prof. Drs. Yanyan M. Yani, MA.IR., Ph.D</a></h6>
Kepakaran :
<ul>
<li>ASEAN</li>
<li>Asia-Pacific</li>
<li>Foreign Policy Analysis</li>
<li>Social Science</li>
<li>Strategic Studies</li>
<li>Terrorism</li>
</ul>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/prof-dr-obsatar-sinaga-m-si/"> <img title="Obsatar-Sinaga-fisip" src="file:///android_asset/staf-pengajar-images/Obsatar-Sinaga-fisip.png" alt="Obsatar-Sinaga-fisip" src="file:///android_asset/staf-pengajar-images/Obsatar-Sinaga-fisip.png" data-was-processed="true" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/prof-dr-obsatar-sinaga-m-si/" target="_blank">Prof. Dr. Obsatar Sinaga, M.Si</a></h6>
Kepakaran :
<ul>
<li>Ekonomi Politik Global</li>
<li>Kebijakan Luar Negeri Inndonesia</li>
</ul>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-arfin-sudirman-s-ip-m-a-ir/"> <img title="arfin sudirman" src="file:///android_asset/staf-pengajar-images/arfin-sudirman.jpg" alt="arfin sudirman" src="file:///android_asset/staf-pengajar-images/arfin-sudirman.jpg" data-was-processed="true" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-arfin-sudirman-s-ip-m-a-ir/" target="_blank">Dr. Arfin Sudirman, S.IP., M.A.IR</a></h6>
Kepakaran :
<ul>
<li>Keamanan Global</li>
</ul>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-wawan-budi-darmawan-s-ip-m-si/"> <img title="Wawan-Budi-Darmawan" src="file:///android_asset/staf-pengajar-images/Wawan-Budi-Darmawan.jpg" alt="Wawan-Budi-Darmawan" src="file:///android_asset/staf-pengajar-images/Wawan-Budi-Darmawan.jpg" data-was-processed="true" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-wawan-budi-darmawan-s-ip-m-si/" target="_blank">Dr. Wawan Budi Darmawan, S.IP., M.Si</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dadan-suryadipura-s-ip-m-ipol/"> <img title="dadan suryadipura" src="file:///android_asset/staf-pengajar-images/dadan-suryadipura.jpg" alt="dadan suryadipura" src="file:///android_asset/staf-pengajar-images/dadan-suryadipura.jpg" data-was-processed="true" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dadan-suryadipura-s-ip-m-ipol/" target="_blank">Dadan Suryadipura, S.IP., M.IPol</a></h6>
Kepakaran :
<ul>
<li>Diplomasi Ekonomi</li>
<li>Integrasi Kawasan</li>
<li>Keamanan Energi</li>
</ul>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/drs-taufik-hidayat-m-s-ph-d/"> <img title="195708301986011001-Taufik Hidayat" src="file:///android_asset/staf-pengajar-images/195708301986011001-Taufik-Hidayat.jpg" alt="195708301986011001-Taufik Hidayat" src="file:///android_asset/staf-pengajar-images/195708301986011001-Taufik-Hidayat.jpg" data-was-processed="true" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/drs-taufik-hidayat-m-s-ph-d/" target="_blank">Drs. Taufik Hidayat, M.S., Ph.D</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dra-junita-budi-rahman-m-si-ph-d/"> <img title="junita budi rahman" alt="junita budi rahman" src="file:///android_asset/staf-pengajar-images/junita-budi-rahman.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dra-junita-budi-rahman-m-si-ph-d/" target="_blank">Dra. Junita Budi Rahman, M.Si., Ph.D</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/drs-rmt-nurhasan-affand-b-ph-d/"> <img title="rmt nurhasan affand" alt="rmt nurhasan affand" src="file:///android_asset/staf-pengajar-images/rmt-nurhasan-affand.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/drs-rmt-nurhasan-affand-b-ph-d/" target="_blank">Drs. RMT Nurhasan Affand B., Ph.D</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/drs-chandra-purnama-m-s-ph-d/"> <img title="chandra purnama" alt="chandra purnama" src="file:///android_asset/staf-pengajar-images/chandra-purnama.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/drs-chandra-purnama-m-s-ph-d/" target="_blank">Drs. Chandra Purnama, M.S., Ph.D</a></h6>
Kepakaran :
<ul>
<li>Analisis Kebijakan Luar Negeri</li>
<li>Diplomasi</li>
<li>Komunikasi Internasional</li>
</ul>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/drs-teuku-rezasyah-m-a-ir-ph-d/"> <img title="196003051987031002-Teuku Rezasyah" alt="196003051987031002-Teuku Rezasyah" src="file:///android_asset/staf-pengajar-images/196003051987031002-Teuku-Rezasyah.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/drs-teuku-rezasyah-m-a-ir-ph-d/" target="_blank">Drs. Teuku Rezasyah, M.A.IR., Ph.D</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/hasan-sidik-s-h-m-h/"> <img title="195904251989021001-Hasan Sidik" alt="195904251989021001-Hasan Sidik" src="file:///android_asset/staf-pengajar-images/195904251989021001-Hasan-Sidik.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/hasan-sidik-s-h-m-h/" target="_blank">Hasan Sidik, S.H., M.H.,</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-r-dudy-heryadi-m-si/"> <img title="dudy heryadi" alt="dudy heryadi" src="file:///android_asset/staf-pengajar-images/dudy-heryadi.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-r-dudy-heryadi-m-si/" target="_blank">Dr. R. Dudy Heryadi, M.Si</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dra-neneng-konety-m-si/"> <img title="196304041990032002-Neneng Konety" alt="196304041990032002-Neneng Konety" src="file:///android_asset/staf-pengajar-images/196304041990032002-Neneng-Konety.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dra-neneng-konety-m-si/" target="_blank">Dra. Neneng Konety, M.Si</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-gilang-nuralam-s-ip-m-sc/"> <img title="gilang nuralam" alt="gilang nuralam" src="file:///android_asset/staf-pengajar-images/gilang-nuralam.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-gilang-nuralam-s-ip-m-sc/" target="_blank">Dr. Gilang Nuralam, S.IP., M.Sc</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/nuraeni-s-ip-m-hum/"> <img title="nuraeni" alt="nuraeni" src="file:///android_asset/staf-pengajar-images/nuraeni.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/nuraeni-s-ip-m-hum/" target="_blank">Nuraeni, S.IP., M.Hum</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/viani-puspitasari-s-ip-m-m/"> <img title="197809122006042002-Viani Puspita Sari" alt="197809122006042002-Viani Puspita Sari" src="file:///android_asset/staf-pengajar-images/197809122006042002-Viani-Puspita-Sari.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/viani-puspitasari-s-ip-m-m/" target="_blank">Viani Puspitasari, S.IP., M.M</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-satriya-wibawa-s-ip-m-si/"> <img title="satriya wibawa" alt="satriya wibawa" src="file:///android_asset/staf-pengajar-images/satriya-wibawa.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-satriya-wibawa-s-ip-m-si/" target="_blank">Dr. Satriya Wibawa, S.IP., M.Si</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/hikmawan-saefullah-s-ip-m-a-ir/"> <img title="hikmawan saefullah" alt="hikmawan saefullah" src="file:///android_asset/staf-pengajar-images/hikmawan-saefullah.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/hikmawan-saefullah-s-ip-m-a-ir/" target="_blank">Hikmawan Saefullah, S.IP., M.A.IR</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/fuad-azmi-s-ip-m-a-ir/"> <img title="198109242005021004-Fuad Azmi" alt="198109242005021004-Fuad Azmi" src="file:///android_asset/staf-pengajar-images/198109242005021004-Fuad-Azmi.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/fuad-azmi-s-ip-m-a-ir/" target="_blank">Fuad Azmi, S.IP., M.A.IR</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-akim-s-ip-m-si/"> <img title="akim" alt="akim" src="file:///android_asset/staf-pengajar-images/akim.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-akim-s-ip-m-si/" target="_blank">Dr. Akim, S.IP., M.Si.,</a></h6>
Kepakaran :
<ul>
<li>Ekonomi Politik Global</li>
<li>Islam dalam HI</li>
</ul>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/rizki-ananda-ramadhan-s-ip-m-han/"> <img title="198307102010121004-Rizki Ananda Ramadhan" alt="198307102010121004-Rizki Ananda Ramadhan" src="file:///android_asset/staf-pengajar-images/198307102010121004-Rizki-Ananda-Ramadhan.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/rizki-ananda-ramadhan-s-ip-m-han/" target="_blank">Rizki Ananda Ramadhan, S.IP., M.Han</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-windy-dermawan-s-ip-m-si/"> <img title="198211162014041001-Windy Dermawan" alt="198211162014041001-Windy Dermawan" src="file:///android_asset/staf-pengajar-images/198211162014041001-Windy-Dermawan.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-windy-dermawan-s-ip-m-si/" target="_blank">Dr. Windy Dermawan, S.IP., M.Si</a></h6>
</article><br>
<article>
<figure><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-deasy-sylvia-sari-s-ip-m-si/"> <img title="deasy sylvia sari" alt="deasy sylvia sari" src="file:///android_asset/staf-pengajar-images/deasy-sylvia-sari.jpg" /> </a></figure>
<h6><a href="https://fisip.unpad.ac.id/dosen-fisip/dr-deasy-sylvia-sari-s-ip-m-si/" target="_blank">Dr. Deasy Sylvia Sari, S.IP., M.Si</a></h6>
</article><br>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    p,
    h6 {
        text-align: center;
    }
</style>