<p><strong>VISI</strong></p>
<p>Menjadi Program Sarjana Hubungan Internasional yang terkemuka dalam wawasan dan kiprah global, serta menambah khasanah potensi lokal atau Global tahun 2024</p>
<p><strong>MISI</strong></p>
<p>Melaksanakan tri dharma perguruan tinggi bidang Hubungan Internasional yang menuangkan wawasan berikut kiprah global untuk menambah khasanah potensi Glokal atau Grobal, serta hirau akan kepentingan Indonesia dan tujuan pembangunan berkelanjutan (SDGs) Melaksanakan pengelolaan program studi secara profesional dan akuntabel sebagai lembaga pendidikan tinggi terkemuka dalam wawasan dan kiprah global, seraya menambah khasanah potensi Glokal atau Grobal</p>
<p>Membentuk civitas academica bidang Hubungan Internasional yang kompetitif, berkarakter, serta berintegritas, dalam acuan generalis yang selaras dengan semangat jaman</p>
<p>Menjalin kerjasama berkesinambungan dengan berbagai mitra strategis dalam dan luar negeri pada prinsip multi-stakeholder partnership guna mengembangkan payung riset dan peta jalan kecakapan generalis sarjana Hubungan Internasional&nbsp;</p>
<p><strong>ORGANISASI</strong></p>
<p>Lembaga yang mengelola Program Studi Hubungan Internasional FISIP Unpad terdiri dari Departemen, Program Studi Sarjana (S1)</p>
<ul>
<p><li>Departemen Hubungan Internasional (Department)</li></p>
<p>Merupakan lembaga yang mengelola pengembangan kinerja dan karir Dosen HI, mencakup riset, pengabdian pada masyarakat, publikasi dan diseminasi ilmiah di tingkat nasional dan internasional. Departemen dijabat oleh seorang Kepala Departemen.</p>
<p><li> Studi Sarjana (S1) (Undergraduated)</li></p>
<p>Merupakan lembaga yang mengelola proses pengajaran dan pembelajaran civitas academic Prodi HI S1 yang mencakup perwalian, perkuliahan, praktikum, magang, skripsi, dan kemahasiswaan Program Studi dijabat oleh Ketua Program Studi S1</p>
</ul>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    p {
        text-align: justify;
    }
</style>